.btn {
  display: inline-grid;
  place-items: center;
  padding: 10px 30px;
  min-height: 84px;
  background-color: var(--color-secondary);
  color: var(--color-light);
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
  line-height: var(--leading-secondary);
  max-width: 594px;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }



  @media screen and (max-width: 992px) {
    min-height: 64px;
  }
}
