.footer {

  &__inner {
    row-gap: 40px;

    @media screen and (max-width: 992px) {
      row-gap: 35px;
    }



    @media screen and (max-width: 576px) {
      row-gap: 30px;
    }
  }

  &__title {
    max-width: 640px;
    line-height: 1.6;
    font-weight: 500;

    @media screen and (max-width: 1400px) {
      max-width: 500px;
    }

    @media screen and (max-width: 992px) {
      max-width: 400px;
    }

    @media screen and (max-width: 576px) {
      max-width: 300px;
    }

    @media screen and (max-width: 360px) {
      max-width: 250px;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 576px) {
      gap: 12px;
    }
  }

  &__social {
    display: grid;
    place-items: center;
    border-radius: 50%;
  }


  &__social--big {
    width: 157px;
    height: 157px;
    transition: transform var(--transition-duration) var(--transition-timing-function);


    @media screen and (max-width: 576px) {
      width: 97px;
      height: 97px;

      svg {
        width: 44px;
        height: 44px;
      }
    }


    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-10px);
      }
    }

  }



  &__social--small {
    width: 90px;
    height: 90px;
    border: 2px solid var(--color-primary-darker);
    transition: background-color var(--transition-duration) var(--transition-timing-function);

    @media screen and (max-width: 576px) {
      width: 50px;
      height: 50px;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    path {
      transition: fill var(--transition-duration) var(--transition-timing-function);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-primary-darker);

        path {
          fill: var(--color-light);
        }
      }
    }

  }

  &__links {
    padding: 67px 0;

    @media screen and (max-width: 767px) {
      padding: 67px 0 28px 0;
    }
  }

  &__links-inner {
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      row-gap: 60px;
    }
  }

  &__terms {
    color: rgba(255, 255, 255, 0.50);
  }

  &__menu {
    width: 100%;
    max-width: 485px;
    gap: 15px;

    @media screen and (max-width: 992px) {
      max-width: 373px;
    }
  }

  &__link {
    position: relative;
    padding-bottom: 2px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      width: 0px;
      height: 2px;
      background-color: currentColor;
      transition: width var(--transition-duration) var(--transition-timing-function);
   }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

  }
}
