.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 21px 0;
  z-index: 5;

  @media screen and (max-width: 767px) {
    background-color: rgba(18, 39, 36, 0.36);
  }

  &__menu {
    max-width: 480px;
  }

  &__list {
    gap: 15px;
    justify-content: space-between;

    @media screen and (max-width: 360px) {
      justify-content: center;
    }
  }

  &__link {
    position: relative;
    padding-bottom: 2px;
    color: var(--color-primary);

    @media screen and (max-width: 767px) {
      color: var(--color-light);
      text-transform: uppercase;
      font-weight: 600;
      // white-space: nowrap;
    }

    &::after {
      content: "";
      position: absolute;

      width: 0px;
      height: 2px;

      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      transition-property: width;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);

      background-color: var(--color-primary);
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
