:root {
  --container-width: 1682px;
  --container-inline-paddings: 45px;
  --font-family-primary: "Poppins", sans-serif;
  --leading-primary: 1.3;
  --leading-secondary: 1.1;
  --text-h1: 77px;
  --text-h2: 44px;
  --text-h3: 32px;
  --text-subtitle: 22px;
  --text-base: 20px;
  --color-light: #fff;
  --color-primary: #459C7D;
  --color-primary-darker: #006A5B;
  --color-primary-darker-transparent: rgba(0, 106, 91, 0.60);
  --color-secondary: #FF9D1B;
  --padding-item-xl: 60px;
  --padding-item-lg: 40px;
  --padding-item-md: 30px;
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --header-height: 68px;
  --section-offset: 130px;
  --gradient-primary: linear-gradient(180deg, #76BE93 0%, #006C5C 100%);
  --gradient-secondary: linear-gradient(180deg, #F59C2B 0%, #BB6222 100%);
}

@media screen and (max-width: 1400px) {
  :root {
    --text-h1: 55px;
    --text-h2: 32px;
    --text-h3: 24px;
    --section-offset: 100px;
    --text-subtitle: 20px;
  }
}
@media screen and (max-width: 992px) {
  :root {
    --text-h1: 45px;
    --text-h2: 28px;
    --text-h3: 20px;
    --text-subtitle: 16px;
    --section-offset: 80px;
    --padding-item-lg: 30px;
    --header-height: 62px;
  }
}
@media screen and (max-width: 576px) {
  :root {
    --text-h1: 33px;
    --text-h2: 24px;
    --section-offset: 60px;
    --padding-item-md: 20px;
    --text-subtitle: 16px;
  }
}
@media screen and (max-width: 359px) {
  :root {
    --text-h1: 28px;
    --text-h2: 20px;
  }
}
@media screen and (max-width: 992px) {
  :root {
    --container-inline-paddings: 39px;
  }
}
@media screen and (max-width: 576px) {
  :root {
    --container-inline-paddings: 15px;
  }
}
.grid {
  display: -ms-grid;
  display: grid;
}

.grid-cols-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.justify-self-start {
  -ms-grid-column-align: start;
  justify-self: start;
}

.justify-self-end {
  -ms-grid-column-align: end;
  justify-self: end;
}

.justify-items-center {
  justify-items: center;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.align-self-start {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-white {
  color: var(--color-light);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-primary-darker {
  color: var(--color-primary-darker);
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-medium {
  font-weight: 500;
}

.text-weight-regular {
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-h1 {
  font-size: var(--text-h1);
}

.text-h3 {
  font-size: var(--text-h3);
}

.text-subtitle {
  font-size: var(--text-subtitle);
}

.item-paddings-md {
  padding: var(--padding-item-md);
}

.item-paddings-lg {
  padding: var(--padding-item-lg);
}

.bg-primary-darker-transparent {
  background-color: var(--color-primary-darker-transparent);
}

.bg-primary-darker {
  background-color: var(--color-primary-darker);
}

.bg-primary {
  background-color: var(--color-primary);
}

.section-offset {
  padding: var(--section-offset) 0;
}

.centered {
  text-align: center;
}

.bg-section {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-light {
  background-color: var(--color-light);
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-size: 20px;
  font-family: var(--font-family-primary);
  color: var(--color-primary-darker);
  line-height: var(--leading-primary);
  padding-top: var(--header-height);
}
@media screen and (max-width: 992px) {
  .page__body {
    font-size: 16px;
  }
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
}

.is-hidden {
  display: none !important;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-inline-paddings);
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.global-wrapper {
  position: relative;
}

.locked {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 21px 0;
  z-index: 5;
}
.header__menu {
  max-width: 480px;
}
.header__list {
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.header__link {
  position: relative;
  padding-bottom: 2px;
}
.header__link::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
  transition-timing-function: var(--transition-timing-function);
  background-color: var(--color-primary);
}
@media (any-hover: hover) {
  .header__link:hover::after {
    width: 100%;
  }
}

.gradient-primary {
  background-image: var(--gradient-primary);
}

.gradient-secondary {
  background-image: var(--gradient-secondary);
}

.btn {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  padding: 10px 30px;
  min-height: 84px;
  background-color: var(--color-secondary);
  color: var(--color-light);
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function);
  line-height: var(--leading-secondary);
  max-width: 594px;
}
@media (any-hover: hover) {
  .btn:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 992px) {
  .btn {
    min-height: 64px;
  }
}

.section-title {
  font-size: var(--text-h2);
  font-weight: 500;
  text-transform: uppercase;
  line-height: var(--leading-secondary);
}

.footer__inner {
  row-gap: 40px;
}
@media screen and (max-width: 992px) {
  .footer__inner {
    row-gap: 35px;
  }
}
@media screen and (max-width: 576px) {
  .footer__inner {
    row-gap: 30px;
  }
}
.footer__title {
  max-width: 640px;
  line-height: 1.6;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .footer__title {
    max-width: 500px;
  }
}
@media screen and (max-width: 992px) {
  .footer__title {
    max-width: 400px;
  }
}
@media screen and (max-width: 576px) {
  .footer__title {
    max-width: 300px;
  }
}
@media screen and (max-width: 360px) {
  .footer__title {
    max-width: 250px;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .footer__socials {
    gap: 12px;
  }
}
.footer__social {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.footer__social--big {
  width: 157px;
  height: 157px;
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
@media screen and (max-width: 576px) {
  .footer__social--big {
    width: 97px;
    height: 97px;
  }
  .footer__social--big svg {
    width: 44px;
    height: 44px;
  }
}
@media (any-hover: hover) {
  .footer__social--big:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.footer__social--small {
  width: 90px;
  height: 90px;
  border: 2px solid var(--color-primary-darker);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
@media screen and (max-width: 576px) {
  .footer__social--small {
    width: 50px;
    height: 50px;
  }
  .footer__social--small svg {
    width: 30px;
    height: 30px;
  }
}
.footer__social--small path {
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
@media (any-hover: hover) {
  .footer__social--small:hover {
    background-color: var(--color-primary-darker);
  }
  .footer__social--small:hover path {
    fill: var(--color-light);
  }
}
.footer__links {
  padding: 67px 0;
}
@media screen and (max-width: 767px) {
  .footer__links {
    padding: 67px 0 28px 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__links-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    row-gap: 60px;
  }
}
.footer__terms {
  color: rgba(255, 255, 255, 0.5);
}
.footer__menu {
  width: 100%;
  max-width: 485px;
  gap: 15px;
}
@media screen and (max-width: 992px) {
  .footer__menu {
    max-width: 373px;
  }
}
.footer__link {
  position: relative;
  padding-bottom: 2px;
}
.footer__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0px;
  height: 2px;
  background-color: currentColor;
  -webkit-transition: width var(--transition-duration) var(--transition-timing-function);
  transition: width var(--transition-duration) var(--transition-timing-function);
}
@media (any-hover: hover) {
  .footer__link:hover::after {
    width: 100%;
  }
}

.hero {
  min-height: calc(100vh - var(--header-height));
  min-height: calc(100svh - var(--header-height));
  background-image: url("../img/content/hero.webp");
  background-color: var(--color-primary-darker);
  padding: 85px 0 174px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 1400px) {
  .hero {
    padding: 99px 0;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    padding: 63px 0;
  }
}
.hero__head {
  row-gap: 20px;
}
@media screen and (max-width: 992px) {
  .hero__head {
    row-gap: 16px;
  }
}
.hero__note {
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .hero__note {
    margin-bottom: 15px;
  }
}
.hero__title {
  line-height: 1;
}
.hero__description {
  max-width: 602px;
  line-height: var(--leading-secondary);
}
@media screen and (max-width: 1400px) {
  .hero__description {
    max-width: 457px;
  }
}
@media screen and (max-width: 992px) {
  .hero__description {
    max-width: 379px;
  }
}
.hero__info {
  padding: 70px 60px;
  row-gap: 84px;
  max-width: 846px;
  background-color: var(--color-primary-darker-transparent);
}
@media screen and (max-width: 1400px) {
  .hero__info {
    padding: 60px;
    max-width: 635px;
  }
}
@media screen and (max-width: 992px) {
  .hero__info {
    padding: 40px 40px 40px 40px;
    max-width: 482px;
    row-gap: 50px;
  }
}
@media screen and (max-width: 576px) {
  .hero__info {
    max-width: unset;
    padding: 20px;
  }
}
.hero__footer {
  row-gap: 20px;
}
@media screen and (max-width: 1400px) {
  .hero__footer {
    row-gap: 16px;
  }
}
.hero__btn {
  max-width: 594px;
}
.hero__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .hero__item {
    gap: 5px;
  }
}
.hero__item::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/checkmark-in-cirlce.svg");
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  background-size: contain;
}
@media screen and (max-width: 576px) {
  .hero__item::before {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35px;
    flex: 0 0 35px;
    height: 35px;
  }
}

.grown {
  background-image: url("../img/content/green-bg.jpg");
  padding: var(--section-offset) 0;
}
.grown__inner {
  row-gap: 60px;
}
@media screen and (max-width: 992px) {
  .grown__inner {
    row-gap: 40px;
  }
}
.grown__item {
  --icon-size: 56px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--icon-size) 1fr;
  grid-template-columns: var(--icon-size) 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  gap: 20px;
  padding: var(--padding-item-md);
  background: rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 576px) {
  .grown__item {
    --icon-size: 40px;
    gap: 10px;
  }
}
.grown__item::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url("../img/icons/checkmark-gradient.svg");
  -ms-grid-row-align: start;
  align-self: start;
}
.grown__subtitle {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.grown__content {
  max-width: 1050px;
  row-gap: 20px;
}
.grown__list {
  row-gap: 20px;
}
.grown__note {
  padding: 30px;
}
.grown__note-title {
  max-width: 910px;
  margin: 0 auto;
}

.benefits {
  padding: var(--section-offset) 0;
}
.benefits__inner {
  row-gap: var(--section-offset);
}
.benefits__list {
  gap: 110px;
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .benefits__list {
    gap: 48px;
  }
}
@media screen and (max-width: 992px) {
  .benefits__list {
    max-width: 735px;
  }
}
@media screen and (max-width: 576px) {
  .benefits__list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 20px;
  }
}
.benefits__head {
  row-gap: 60px;
}
@media screen and (max-width: 576px) {
  .benefits__head {
    row-gap: 30px;
  }
}
.benefits__item {
  --icon-size: 88px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  justify-items: center;
  row-gap: 28px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 154px;
  flex-basis: 154px;
}
@media screen and (max-width: 576px) {
  .benefits__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    justify-items: start;
    -ms-grid-columns: var(--icon-size) 1fr;
    grid-template-columns: var(--icon-size) 1fr;
    gap: 15px;
  }
}
@media screen and (max-width: 360px) {
  .benefits__item {
    --icon-size: 60px;
  }
}
.benefits__item::before {
  content: "";
  width: var(--icon-size);
  height: var(--icon-size);
  padding: 5px;
  border-radius: 50%;
  background-image: var(--gradient-primary);
  background-repeat: no-repeat;
}
@media screen and (max-width: 360px) {
  .benefits__item::before {
    width: 60px;
    height: 60px;
    background-size: 40px, cover;
  }
}
.benefits__item--location::before {
  background-image: url("../img/icons/location.svg"), var(--gradient-primary);
  background-position: center center;
}
.benefits__item--delivery::before {
  background-image: url("../img/icons/car.svg"), var(--gradient-primary);
  background-position: center center;
}
.benefits__item--pesticide::before {
  background-image: url("../img/icons/leaf.svg"), var(--gradient-primary);
  background-position: center center;
}
.benefits__item--vitamins::before {
  background-image: url("../img/icons/dna.svg"), var(--gradient-primary);
  background-position: center center;
}
.benefits__item--delicious::before {
  background-image: url("../img/icons/thumb-up.svg"), var(--gradient-primary);
  background-position: center center;
}
.benefits__item--extended {
  -ms-flex-preferred-size: 230px;
  flex-basis: 230px;
}
@media screen and (max-width: 992px) {
  .benefits__item--extended {
    -ms-flex-preferred-size: 174px;
    flex-basis: 174px;
  }
}
@media screen and (max-width: 576px) {
  .benefits__item--extended {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
.benefits__subtitle {
  text-transform: uppercase;
  font-size: var(--text-subtitle);
  text-align: center;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .benefits__subtitle {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: start;
  }
}
.benefits__btn {
  -ms-grid-column-align: center;
  justify-self: center;
  width: 100%;
}
.benefits__logo {
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .benefits__logo {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
  .benefits__logo img {
    max-width: 205px;
  }
}

.gallery__inner {
  gap: 30px;
}
@media screen and (max-width: 576px) {
  .gallery__inner {
    gap: 15px;
  }
}
.gallery__title {
  max-width: 757px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (max-width: 1400px) {
  .gallery__title {
    max-width: 600px;
  }
}
@media screen and (max-width: 992px) {
  .gallery__title {
    margin-bottom: 40px;
    max-width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .gallery__title {
    margin-bottom: 30px;
    max-width: 400px;
  }
}
@media screen and (max-width: 475px) {
  .gallery__title {
    max-width: 280px;
  }
}
@media screen and (max-width: 360px) {
  .gallery__title {
    max-width: 220px;
  }
}
.gallery__img {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}
.gallery__img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .gallery__img {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
}
.gallery__img--extended {
  -ms-grid-column-span: 7;
  grid-column: span 7;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
@media screen and (max-width: 768px) {
  .gallery__img--extended {
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}

.promo {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/content/green-plants.webp");
  padding: 80px 0;
}
@media screen and (max-width: 576px) {
  .promo {
    padding: 40px 0;
    background-image: url("../img/content/green-plants-mobile.webp");
  }
}
.promo__info {
  max-width: 780px;
  padding: 70px 60px;
  row-gap: 78px;
}
@media screen and (max-width: 1400px) {
  .promo__info {
    max-width: 612px;
    padding: 60px;
    row-gap: 50px;
  }
}
@media screen and (max-width: 992px) {
  .promo__info {
    max-width: 490px;
    padding: 40px;
  }
}
@media screen and (max-width: 576px) {
  .promo__info {
    padding: 20px;
    row-gap: 28px;
  }
}
.promo__head {
  row-gap: 30px;
}
@media screen and (max-width: 992px) {
  .promo__head {
    row-gap: 20px;
  }
}
.promo__description {
  max-width: 402px;
}

.about {
  background-color: #F2F7F4;
}
.about__inner {
  gap: 30px;
}
@media screen and (max-width: 576px) {
  .about__inner {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
}
.about__title {
  margin-bottom: 55px;
}
.about__img {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}
@media screen and (max-width: 1400px) {
  .about__img {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
}
@media screen and (max-width: 1199px) {
  .about__img {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}
.about__img img {
  width: 100%;
  height: 100%;
}
.about__list {
  -ms-grid-column-span: 7;
  grid-column: span 7;
  gap: 20px;
}
@media screen and (max-width: 1400px) {
  .about__list {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
}
@media screen and (max-width: 1199px) {
  .about__list {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}
.about__item {
  --icon-size: 88px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--icon-size) 1fr;
  grid-template-columns: var(--icon-size) 1fr;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .about__item {
    --icon-size: 54px;
  }
}
@media screen and (max-width: 576px) {
  .about__item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .about__item {
    --icon-size: 36px;
  }
}
.about__item::before {
  content: "";
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url("../img/icons/checkmark-gradient-secondary.svg");
  background-size: contain;
}

.more {
  background-image: url("../img/content/docks.webp");
  min-height: 643px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding: 80px 0;
  background-position: right center;
}
@media screen and (max-width: 576px) {
  .more {
    background-image: url("../img/content/docks-mobile.webp");
    background-position: center center;
  }
}
@media screen and (max-width: 1400px) {
  .more {
    padding: 60px 0;
  }
}
@media screen and (max-width: 992px) {
  .more {
    padding: 40px 0;
  }
}
@media screen and (max-width: 576px) {
  .more {
    padding: 20px 0;
  }
}
.more__item {
  row-gap: 30px;
  padding: 40px;
  max-width: 753px;
}
@media screen and (max-width: 1400px) {
  .more__item {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .more__item {
    row-gap: 20px;
    padding: 20px;
  }
}
.more__btn {
  max-width: 430px;
}

.subscription {
  min-height: 664px;
  background-image: url("../img/content/subscription-bg.jpg");
  --list-gap: 30px;
}
.subscription__description {
  max-width: 431px;
}
@media screen and (max-width: 1400px) {
  .subscription__description {
    max-width: 350px;
  }
}
@media screen and (max-width: 992px) {
  .subscription__description {
    max-width: 284px;
  }
}
.subscription__head {
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .subscription__head {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.subscription__list {
  gap: var(--list-gap);
}
@media screen and (max-width: 1199px) {
  .subscription__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .subscription__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
  .subscription__list {
    --list-gap: 10px;
  }
}
.subscription__inner {
  row-gap: 60px;
}
.subscription__item {
  text-align: center;
  row-gap: 35px;
  padding: 40px;
  width: 100%;
  -ms-grid-column-span: 4;
  grid-column: span 4;
}
@media screen and (max-width: 1199px) {
  .subscription__item {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .subscription__item:last-of-type {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4/11;
  }
}
@media screen and (max-width: 767px) {
  .subscription__item {
    row-gap: 25px;
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
  .subscription__item:last-of-type {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}
@media screen and (max-width: 359px) {
  .subscription__item {
    padding: 30px 20px;
  }
}

.steps {
  background-color: #F2F7F4;
  padding-bottom: 240px;
  --list-gap: 30px;
}
@media screen and (max-width: 992px) {
  .steps {
    padding-bottom: 180px;
  }
}
@media screen and (max-width: 767px) {
  .steps {
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 576px) {
  .steps {
    padding-bottom: var(--section-offset);
  }
}
.steps__title {
  margin-bottom: 60px;
}
@media screen and (max-width: 1400px) {
  .steps__title {
    text-align: center;
  }
}
.steps__list {
  gap: clamp(0.938rem, -3.75rem + 4.69vw, 1.875rem);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  counter-reset: counter;
}
@media screen and (max-width: 1610px) {
  .steps__list {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1400px) {
  .steps__list {
    max-width: 1200px;
    gap: var(--list-gap);
  }
}
@media screen and (max-width: 992px) {
  .steps__list {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .steps__list {
    --list-gap: 20px;
  }
}
.steps__wrapper {
  row-gap: 15px;
  position: relative;
}
.steps__wrapper, .steps__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 240px;
  flex: 0 1 240px;
}
@media screen and (max-width: 992px) {
  .steps__wrapper, .steps__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 210px;
    flex: 0 1 210px;
  }
}
@media screen and (max-width: 767px) {
  .steps__wrapper, .steps__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - var(--list-gap));
    flex: 0 1 calc(50% - var(--list-gap));
  }
}
@media screen and (max-width: 576px) {
  .steps__wrapper, .steps__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}
.steps__item {
  display: -ms-grid;
  display: grid;
  row-gap: 67px;
  position: relative;
  padding: 121px 20px 30px 30px;
  min-height: 244px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .steps__item {
    min-height: 218px;
    padding: 121px 20px 20px 20px;
  }
}
@media screen and (max-width: 576px) {
  .steps__item {
    min-height: 150px;
    padding-top: 80px;
  }
}
.steps__note {
  row-gap: 12px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(115%);
  -ms-transform: translateY(115%);
  transform: translateY(115%);
}
@media screen and (max-width: 576px) {
  .steps__note {
    position: static;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    max-width: 330px;
  }
}
.steps__note::before {
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/notice.svg");
}
.steps__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 15px;
  width: 100%;
  padding: 0 15px 0 30px;
}
@media screen and (max-width: 576px) {
  .steps__head {
    padding-left: 20px;
  }
}
.steps__head::before {
  content: "STEP " counter(counter);
  counter-increment: counter;
  font-weight: 500;
  font-size: var(--text-subtitle);
}
.steps__head::after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/arrow-in-circle.svg");
  background-size: contain;
  background-position: center center;
}
@media screen and (max-width: 576px) {
  .steps__head::after {
    width: 44px;
    height: 44px;
  }
}

.deliver__inner {
  min-height: 646px;
  background-image: url("../img/content/lake.webp");
}
@media screen and (max-width: 1400px) {
  .deliver__inner {
    min-height: 545px;
  }
}
@media screen and (max-width: 576px) {
  .deliver__inner {
    background-image: url("../img/content/lake-mobile.webp");
  }
}
.deliver__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 992px) {
  .deliver__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.deliver__text {
  --flex-basis: 740px;
  padding: 30px;
  background-color: var(--color-primary-darker-transparent);
  -webkit-box-flex: 0;
  -ms-flex: 0 1 var(--flex-basis);
  flex: 0 1 var(--flex-basis);
  line-height: var(--leading-secondary);
}
@media screen and (max-width: 1400px) {
  .deliver__text {
    --flex-basis: 640px;
  }
}
@media screen and (max-width: 992px) {
  .deliver__text {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
}
@media screen and (max-width: 576px) {
  .deliver__container {
    padding: 0px;
  }
}

.package__note {
  padding: 46px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1320px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .package__note {
    padding: 37px 20px;
  }
}
@media screen and (max-width: 576px) {
  .package__note {
    padding: 28px 15px;
  }
}
.package__head {
  margin-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .package__head {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .package__head {
    max-width: 300px;
    text-align: center;
    margin: 0 auto 30px auto;
  }
}
.package__includes {
  background-color: #F2F7F4;
  padding: 60px;
  max-width: 1320px;
  margin: 0 auto 10px auto;
}
@media screen and (max-width: 992px) {
  .package__includes {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .package__includes {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 992px) {
  .package__includes-desktop {
    display: none;
  }
}
.package__subtitle {
  max-width: 1019px;
}
@media screen and (max-width: 1400px) {
  .package__subtitle {
    max-width: 728px;
  }
}
@media screen and (max-width: 992px) {
  .package__subtitle {
    max-width: 589px;
  }
}
.package__images {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .package__images {
    gap: 8px;
  }
}
.package__image {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 182px;
  flex: 0 0 182px;
  height: 182px;
  background-color: var(--color-light);
  border-radius: 50%;
}
@media screen and (max-width: 1199px) {
  .package__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    height: 140px;
  }
}
@media screen and (max-width: 992px) {
  .package__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 116px;
    flex: 0 0 116px;
    height: 116px;
  }
}
@media screen and (max-width: 475px) {
  .package__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95px;
    flex: 0 0 95px;
    height: 95px;
  }
}
.package__info {
  -ms-grid-columns: (1fr)[11];
  grid-template-columns: repeat(11, 1fr);
  gap: 40px;
  padding-left: 130px;
}
@media screen and (max-width: 1199px) {
  .package__info {
    padding-left: clamp(3.125rem, -5.817rem + 14.42vw, 5rem);
  }
}
.package__row {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
.package__item {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  padding-top: 40px;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .package__item {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .package__item {
    padding-top: 80px;
  }
}
@media screen and (max-width: 992px) {
  .package__item {
    padding-top: 0;
  }
}
.package__item::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}
.package__includes-title {
  margin-bottom: 60px;
}
@media screen and (max-width: 1400px) {
  .package__includes-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 992px) {
  .package__includes-title {
    margin-bottom: 30px;
  }
}
.package__item--bionda {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: center;
  justify-self: center;
}
@media screen and (max-width: 992px) {
  .package__item--bionda {
    grid-column: unset;
  }
}
.package__item--bionda::before {
  width: 46px;
  height: 114px;
  background-image: url("../img/icons/arrow-decor-1.svg");
  -webkit-transform: translate(-120%, -10%);
  -ms-transform: translate(-120%, -10%);
  transform: translate(-120%, -10%);
}
@media screen and (max-width: 1400px) {
  .package__item--bionda::before {
    -webkit-transform: translate(-120%, 5%);
    -ms-transform: translate(-120%, 5%);
    transform: translate(-120%, 5%);
  }
}
@media screen and (max-width: 1199px) {
  .package__item--bionda::before {
    width: 36px;
    height: 80px;
    -webkit-transform: translate(-120%, 40%);
    -ms-transform: translate(-120%, 40%);
    transform: translate(-120%, 40%);
  }
}
@media screen and (max-width: 992px) {
  .package__item--bionda::before {
    -webkit-transform: translate(-120%, -80%);
    -ms-transform: translate(-120%, -80%);
    transform: translate(-120%, -80%);
  }
}
.package__item--rosso {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}
.package__item--rosso::before {
  width: 134px;
  height: 79px;
  background-image: url("../img/icons/arrow-decor-2.svg");
  -webkit-transform: translate(-120%, 20%);
  -ms-transform: translate(-120%, 20%);
  transform: translate(-120%, 20%);
}
@media screen and (max-width: 1199px) {
  .package__item--rosso::before {
    width: 100px;
    height: 80px;
    -webkit-transform: translate(-120%, 50%);
    -ms-transform: translate(-120%, 50%);
    transform: translate(-120%, 50%);
  }
}
@media screen and (max-width: 992px) {
  .package__item--rosso::before {
    -webkit-transform: translate(-50%, -85%);
    -ms-transform: translate(-50%, -85%);
    transform: translate(-50%, -85%);
    background-image: url("../img/icons/arrow-decor-1.svg");
  }
}
@media screen and (max-width: 992px) {
  .package__item--rosso {
    grid-column: unset;
  }
}
.package__item--mixed {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
}
@media screen and (max-width: 992px) {
  .package__item--mixed {
    grid-column: unset;
  }
}
.package__item--mixed::before {
  width: 308px;
  height: 241px;
  background-image: url("../img/icons/arrow-decor-3.svg");
  -webkit-transform: translate(-93%, -27%);
  -ms-transform: translate(-93%, -27%);
  transform: translate(-93%, -27%);
}
@media screen and (max-width: 1199px) {
  .package__item--mixed::before {
    width: 250px;
    height: 200px;
    -webkit-transform: translate(-93%, -17%);
    -ms-transform: translate(-93%, -17%);
    transform: translate(-93%, -17%);
  }
}
@media screen and (max-width: 992px) {
  .package__item--mixed::before {
    background-image: url("../img/icons/arrow-decor-3-mobile.svg");
    width: 220px;
    height: 160px;
    -webkit-transform: translate(-40%, -80%);
    -ms-transform: translate(-40%, -80%);
    transform: translate(-40%, -80%);
    left: 50%;
  }
}
@media screen and (max-width: 576px) {
  .package__item--mixed::before {
    width: 200px;
    height: 140px;
    -webkit-transform: translate(-40%, -80%);
    -ms-transform: translate(-40%, -80%);
    transform: translate(-40%, -80%);
  }
}
@media screen and (max-width: 992px) {
  .package__item--mixed {
    max-width: 205px;
  }
}
.package__includes-mobile {
  display: none;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}
@media screen and (max-width: 992px) {
  .package__includes-mobile {
    display: -ms-grid;
    display: grid;
  }
}
.package__row {
  row-gap: 46px;
}
.package__row--extended {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  row-gap: 87px;
}
/*# sourceMappingURL=main.css.map */