.gallery {
  &__inner {
    gap: 30px;

    @media screen and (max-width: 576px) {
      gap: 15px;
    }
  }

  &__title {
    max-width: 757px;
    margin: 0 auto;

    margin-bottom: 60px;

    @media screen and (max-width: 1400px) {
      max-width: 600px;
    }

    @media screen and (max-width: 992px) {
      margin-bottom: 40px;
      max-width: 500px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 30px;
      max-width: 400px;
    }

    @media screen and (max-width: 475px) {
      max-width: 280px;
    }

    @media screen and (max-width: 360px) {
      max-width: 220px;
    }
  }

  &__img {
    grid-column: span 5;

    img {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 768px) {
      grid-column: span 6;
    }


  }

  &__img--extended {
    grid-column: span 7;
    grid-row: span 2;

    @media screen and (max-width: 768px) {
      grid-row: span 1;
      grid-column: span 12;
    }
  }
}
