.steps {
  background-color: #f2f7f4;
  padding-bottom: 240px;

  @media screen and (max-width: 992px) {
    padding-bottom: 180px;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 150px;
  }

  @media screen and (max-width: 576px) {
    padding-bottom: var(--section-offset);
  }

  &__title {
    margin-bottom: 60px;

    @media screen and (max-width: 1400px) {
      text-align: center;
    }
  }

  --list-gap: 30px;

  &__list {
    gap: var(--list-gap);
    counter-reset: counter;

    @media screen and (max-width: 1610px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 1400px) {
      max-width: 1200px;
      gap: var(--list-gap);
    }

    @media screen and (max-width: 992px) {
      max-width: 100%;
    }

    @media screen and (max-width: 767px) {
      --list-gap: 20px;
    }

    @media screen and (max-width: 576px) {
      --list-gap: 10px;
    }
  }

  &__wrapper {
    row-gap: 10px;
    position: relative;
  }

  &__wrapper:last-child {
    .steps__head::after {
      display: none;
    }
  }

  &__wrapper {
    flex: 1 1 240px;
    min-height: 100%;

    @media screen and (max-width: 1610px) {
      flex: 1 0 160px;
    }

    @media screen and (max-width: 1999px) {
      flex: 1 1 calc(33% - var(--list-gap));
    }

    @media screen and (max-width: 767px) {
      flex: 1 1 calc(50% - var(--list-gap));
    }

    @media screen and (max-width: 576px) {
      flex: 0 1 100%;
    }
  }

  &__item {
    height: 100%;
    display: grid;
    row-gap: 67px;
    position: relative;
    padding: 121px 20px 20px 20px;
    position: relative;

    @media screen and (max-width: 1200px) {
      min-height: 218px;
      padding: 121px 20px 20px 20px;
    }

    @media screen and (max-width: 576px) {
      height: initial;
      min-height: 150px;
      padding-top: 80px;
    }
  }

  &__note {
    row-gap: 12px;
    position: absolute;
    bottom: 0;
    transform: translateY(115%);

    @media screen and (max-width: 576px) {
      position: static;
      transform: unset;
      max-width: 330px;
    }

    @media screen and (max-width: 1610px) {
      p {
        min-width: 300px;
      }
    }

    @media screen and (max-width: 1199px) {
      p {
        min-width: initial;
      }
    }

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-image: url("../img/icons/notice.svg");
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    position: absolute;
    top: 15px;
    width: 100%;
    min-height: 56px;
    padding: 0 15px 0 20px;

    @media screen and (max-width: 576px) {
      padding-left: 20px;
    }

    &::before {
      content: "STEP " counter(counter);
      counter-increment: counter;
      font-weight: 500;
      font-size: var(--text-subtitle);

      @media screen and (max-width: 1610px) {
        font-size: 16px;
      }
    }

    &::after {
      content: "";
      flex: 0 0 56px;
      height: 56px;
      background-repeat: no-repeat;
      background-image: url("../img/icons/arrow-in-circle.svg");
      background-size: contain;
      background-position: center center;

      @media screen and (max-width: 576px) {
        width: 44px;
        height: 44px;
      }
    }
  }

  &__description {
    @media screen and (max-width: 1610px) {
      font-size: 16px;
    }
  }
}
