<header class="header bg-light">
  <div class="container">
    <div class="header__inner flex justify-content-center">
      <nav class="header__menu full-width">
        <ul class="header__list flex justify-content-between wrap">
          <li class="header__item">
            <a href="#" class="header__link text-uppercase text-weight-semibold" data-goto=".promo">
              Trial box
            </a>
          </li>

          <li class="header__item">
            <a href="#" class="header__link text-uppercase text-weight-semibold" data-goto=".subscription">
              Subscribe
            </a>
          </li>

          <li class="header__item">
            <a href="#" class="header__link text-uppercase text-weight-semibold" data-goto=".about">
              About Alesca
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>