<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Marshall</title>

  <link rel="preload" href="./img/content/hero.webp" as="image" crossorigin>
  <link rel="preload" href="./fonts/Poppins-Regular.woff2" as="font" crossorigin>
  <link rel="preload" href="./fonts/Poppins-Medium.woff2" as="font" crossorigin>
  <link rel="preload" href="./fonts/Poppins-SemiBold.woff2" as="font" crossorigin>

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
