:root {

  //container variables
  --container-width: 1682px;
  --container-inline-paddings: 45px;

  //text variables
  --font-family-primary: "Poppins", sans-serif;
  --leading-primary: 1.3;
  --leading-secondary: 1.1;
  --text-h1: 77px;
  --text-h2: 44px;
  --text-h3: 32px;
  --text-subtitle: 22px;
  --text-base: 20px;

  //color variables
  --color-light: #fff;
  --color-primary: #459C7D;
  --color-primary-darker: #006A5B;
  --color-primary-darker-transparent: rgba(0, 106, 91, 0.60);
  --color-secondary: #FF9D1B;

  //spacing variables

  --padding-item-xl: 60px;
  --padding-item-lg: 40px;
  --padding-item-md: 30px;

  //transition variables

  --transition-duration: 0.3s;
  --transition-timing-function: ease;

  //other variables

  --header-height: 68px;
  --section-offset: 130px;

  //gradients

  --gradient-primary: linear-gradient(180deg, #76BE93 0%, #006C5C 100%);
  --gradient-secondary: linear-gradient(180deg, #F59C2B 0%, #BB6222 100%);
}


@media screen and (max-width: 1400px) {
  :root {
    --text-h1: 55px;
    --text-h2: 32px;
    --text-h3: 24px;
    --section-offset: 100px;
    --text-subtitle: 20px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --text-h1: 45px;
    --text-h2: 28px;
    --text-h3: 20px;
    --text-subtitle: 16px;
    --section-offset: 80px;
    --padding-item-lg: 30px;
    --header-height: 62px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --text-h1: 33px;
    --text-h2: 24px;
    --text-h3: 20px;
    --section-offset: 60px;
    --padding-item-md: 20px;
    --text-subtitle: 16px;
  }
}

@media screen and (max-width: 359px) {
  :root {
    --text-h1: 28px;
    --text-h2: 20px;
  }
}


@media screen and (max-width: 992px) {
  :root {
    --container-inline-paddings: 39px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --container-inline-paddings: 15px;
  }
}
